DEBUG=True
SECRET_KEY=django-key
ALLOWED_HOSTS=127.0.0.1,localhost,192.168.0.67
CSRF_TRUSTED_ORIGINS=https://service.deepfocus.uz
LANGUAGE_CODE=uz-uz
TIME_ZONE=Asia/Tashkent

# Redis for Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Firebase for Push Notifications
FIREBASE_CREDENTIALS_PATH=config/firebase-adminsdk.json

# Telegram Bot
TELEGRAM_BOT_TOKEN=8675680466:AAEQVBGf_ho7wggkXfBlZmODiDUyOorOcRs
