DEBUG=True
SECRET_KEY=django-insecure-bda#-^z5=l-d$&)f#8n059!!5_trez)$3g^)005gswbs&9ysj1
ALLOWED_HOSTS=127.0.0.1,localhost,192.168.0.79,service.deepfocus.uz

DATABASE_URL=postgres://tcmt_user:2222@127.0.0.1:5432/tcmt_db

# Firebase for Push Notifications
FIREBASE_SERVICE_ACCOUNT_PATH=apps/core/google-services.json

CSRF_TRUSTED_ORIGINS=https://service.deepfocus.uz
LANGUAGE_CODE=uz-uz
TIME_ZONE=Asia/Tashkent

# Redis for Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Telegram Bot
TELEGRAM_BOT_TOKEN=8675680466:AAEQVBGf_ho7wggkXfBlZmODiDUyOorOcRs
